html {
  font-size: 16px;
  background-color: #f0f1f6;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 20px;
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.1);
}

.avatarImage {
  display: flex;
  margin: 60px 0px 20px 0px;
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 5px 19px -8px rgba(0, 0, 0, 0.75);
}

.avatarBackground {
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  margin: 10px 0px 20px 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  margin-bottom: 40px;
  font-size: 1.1rem;
  color: grey;
}

button {
  border-radius: 5px;
  border: 2px solid grey;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 50px 15px 50px;
}

button:hover {
  border: none;
  background-color: lightskyblue;
  color: white;
  box-shadow: 0px 5px 19px -8px rgba(0, 0, 0, 0.75);
}

.userCardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 350px;
  min-height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.75);
}

.userCardContainer:hover {
  background-color: white;
}
